{% extends 'base.html' %}
{% block content %}

<section class="basket_list_section">
    <h1 style="text-align: center;">Shopping Basket</h1>
    {% if basket_list %}
        {% for product in basket_list %}
            <ul class="basket_items">
                <li class="basket_item">
                    <p>{{product.products}}</p>
                    <p>{{product.amount}}</p>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="">Your Basket is empty</p>
    {% endif %}
</section>
{% endblock %}