{% extends 'base.html' %}
    {% block content %}
<body class="body">
    <header class="header">
		<nav class="nav">
			<ul class="nav__items">
                <li class="nav__item ">
                    <a href="../">Home</a>
                </li>
				<li class="nav__item nav__home">
					<a href="/products">Products</a>
				</li >
				<li class="nav__item ">
					<a href="/basket">Basket</a>
				</li>
                <li class="nav__item" >
					<a href="../admin">Login</a>
				</li>
			</ul>
		</nav>
	</header>   
    <section class="products_section">
        <h1 class="products_section_h1" style="color: #ffffff;">Our Tutorials</h1>
        
            {% if products_list %}
                {% for product in products_list %}
                    <div class="products">
                        <div class="product">
                            <img src="../{{product.product_pic}}" style="width:200px; border: 2px solid #051218;">
                            <p style="font-size: 22px;">{{product.products_name}}</p>
                            <p>{{product.price}}</p>
                            <p>{{product.note}}</p>
                            <p>{{product.id}}</p>
                            <a href="{% url 'productapp:addtobasket' product.products_name %}" id="addtobasket" value="product.products_name" class="button">Add to Basket</a>

                        </div>
                    </div>]
                {% endfor %}
            {% else %}
                <p>No products avalable at this moment.</p>
            {% endif %}
       

    </section>
</body>
{% endblock %}